@model MVC.Models.DegreePlanTermRequirement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DegreePlanTermRequirement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DegreePlanTermRequirementId" />
            <div class="form-group">
                <label asp-for="DegreePlanId" class="control-label"></label>
                <select asp-for="DegreePlanId" class="form-control" asp-items="ViewBag.DegreePlanId"></select>
                <span asp-validation-for="DegreePlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermId" class="control-label"></label>
                <input asp-for="TermId" class="form-control" />
                <span asp-validation-for="TermId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequirementId" class="control-label"></label>
                <select asp-for="RequirementId" class="form-control" asp-items="ViewBag.RequirementId"></select>
                <span asp-validation-for="RequirementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
